body{
    font-family: Helvetica, sans-serif;

}

.identificacao{
    background-color: #759ff0;
    color: #fcfcfd;
}

.identificacao h1 {

    font-size: 2.5em;
}

.identificacao h2 {

    font-size: 1.5em;
    font-weight: lighter;
}

.escuras {
    background-color: #2b313e;
    color: #fcfcfd;
}

.claras {
    background-color: #fcfcfd;
    color: #2b313e;
}

.styleprojetos li{
    background-color: #6F768B;

}

.styleprojetos li a {
    color: #ffffff;
    font-size: 1.3em;
}