table{
   
    width: 600px;
    border-collapse: collapse;
}

td:nth-child(n+2){
    text-align: right;
}

td:last-child{
    font-weight: bolder;
}

tr:last-child{
    font-weight: bolder;
}

tr:last-child td:last-child{
    font-size:24px;
}

tr:nth-last-child(2){
    color: green;
}

tr:nth-last-child(-n+3) td{
    text-align:right;
}

th, td{
    border: none;
}

th{
    background-color: #000;
    color:#fff;
}

tr:nth-of-type(even){
    background-color: #f3f3f3;
}

tr:nth-of-type(odd){
    background-color: #ddd;
}